/* components/Payment.css */

.screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    width: 100vw;
    min-height: 100vh;
    box-sizing: border-box;
}

.payment-container {
    margin-top: 100px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.payment-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.payment-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.payment-form label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.payment-form input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.payment-form button {
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.payment-form button:hover {
  background-color: darkslategrey;
}

.error-message {
  color: red;
  font-weight: bold;
  margin-bottom: 10px;
}

.city-state-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.city-state-wrapper input {
  flex: 1;
}

.city-state-wrapper input#city {
  margin-right: 10px;
}