################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/*
/UnitTests/UnitTests.sln
/MovieManager.sln
